# requirements.txt (Versiyonları Sabitlenmiş Son Hali)

fastapi
uvicorn[standard]
python-binance
psycopg2-binary
Jinja2
requests
gunicorn
setuptools

# Uyumsuzluk sorununu çözmek için versiyonları sabitliyoruz
pandas==2.0.3
numpy==1.24.4
pandas-ta==0.3.14b
